ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}


page-city {

  sebm-google-map {
    height: 100%;
  }
  sebm-google-map {
     img{
          display: hidden;
        }
  }

  #map {
      height: 100%;
  }

}
